  .title {
    background-color: #ffd6b4;
  }
  .input{
    background-color: #fdffe0;
  }
  .result{
    background-color: #ddffff;
  }
  
  /* コンボボックスの幅の指定 */
  .width{
    width: 200px;
  }

  .disabled{
    opacity: 0.5;
    pointer-events: none;
  }

  .inline{
    display: inline;
  }
