  .title {
    background-color: #ffd6b4;
  }
  .input{
    background-color: #fdffe0;
  }
  .result{
    background-color: #ddffff;
  }
  
  .disabled{
    opacity: 0.5;
    pointer-events: none;
  }